body {
  background-image: url("./img/a.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}


.color {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
https://www.youtube.com/watch?v=mEqfFw4jY7I
*/

.board {
  display: flex;
  justify-content: center;
  align-items: center;
}




.pixel {
  background-color: white;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  float: left
}

.containerColors{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  border: none;
  margin: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.clean {
  position: sticky;
  left: 120vh;
  background-image: url("/img/trash.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}




.vermelho {
  background-color: red;
}

.amarelo {
  background-color: yellow;
}


.azul {
  background-color: blue;
}

.preto {
  background-color: black;
}
